@model WebApplication2.Models.Login 
<div class="col-md-12">
    <h2>Indroduceti datele personale</h2>
</div>
@ViewBag.message
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Parola, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Parola, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Parola, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
               @* <input type="submit" value="Add" class="btn btn-primary" id="buton" />*@
                <input type="submit" id="submitId" value="submit" />
            </div>
        </div>
    </div>
}
@*<script>

    let buton = document.getElementById("buton");
    buton.addEventListener("click", () => {
        var email = (document.getElementById("Email").value);
        var parola = (document.getElementById("Parola").value);
        if ((email == "admin") && (parola == "123")) @{Html.RenderPartial("Index", "Home"); }

    })
</script>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
} 